{
  "Cisco-IOS-XE-bgp:bgp": {
    "id": {{ bgp.asn }},
    "neighbor": [
{% for neighbor in bgp.neighbors %}
      {
        "id": "{{ neighbor.id }}",
        "remote-as": {{ neighbor.remote_as }}
      }{% if not loop.last %},{% endif %}
{% endfor %}
    ]
  }
}