{
  "ietf-yang-patch:yang-patch": {
    "patch-id": "bgp-{{ bgp.asn }}",
    "edit": [
{% for neighbor in bgp.neighbors %}
      {
        "edit-id": "neighbor-{{ neighbor.id }}",
        "operation": "merge",
        "target": "/Cisco-IOS-XE-native:native/router/bgp={{ bgp.asn }}/neighbor={{ neighbor.id }}",
        "value": {
          "Cisco-IOS-XE-bgp:neighbor": {
            "id": "{{ neighbor.id }}",
            "remote-as": {{ neighbor.remote_as }}
          }
        }
      }{% if not loop.last or bgp.networks is defined %},{% endif %}
{% endfor %}
{% for network in bgp.networks %}
      {
        "edit-id": "network-{{ network.number }}",
        "operation": "merge",
        "target": "/Cisco-IOS-XE-native:native/router/bgp={{ bgp.asn }}/address-family/ipv4=unicast/ipv4-unicast/network/with-mask={{ network.number }},{{ network.mask }}",
        "value": {
          "Cisco-IOS-XE-bgp:with-mask": {
            "number": "{{ network.number }}",
            "mask": "{{ network.mask }}"
          }
        }
      }{% if not loop.last %},{% endif %}
{% endfor %}
    ]
  }
}